<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
            <div>
                <ul>
                    <li><img style="vertical-align: middle;" src="/compass-sailormint.png" alt="Minty Compass Logo" width="50"></li>
                    <li><a href="/">Home</a></li>
	        		<li><a href="/services/services.html">Services</a></li>
	        		<li><a href="/advocacy/advocacy.html">Advocacy</a></li>
	        		<li>Blog</li>
            	    <li><a href="/about/about.html">About</a></li>
	    		</ul>
            </div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:intake REPLACEWITHAT shipstonesec.com">contact</a></li>
	        		<li><a href="https://github.com/shipstonesec/hbh">hbh repository</a></li>
				</ul>
			</footer>
		</body>
	</html>
