<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    		<li><a href="/">Home</a></li>
		    	<li>Services</li>
		    	<li>Advocacy</li>
		    	<li>Blog</li>
		        <li>About</li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        	<li><a href="mailto:intake removethisAT shipstonesec.com">general inquiries</a></li>
	        	<li><a href="https://github.com/shipstonesec/hbh">hbh repository</a></li>
			</ul>
			</footer>
		</body>
	</html>
